body {
    background: #05f8bb;
    /* background: linear-gradient(0deg, green, blue, orange); */
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Lugrasimo", cursive;
}

.main-container {
    display: flex;
    justify-content: center;
}

.game {
    padding: 1rem;
    width: 60vmin;
    height: 60vmin;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-items: center;
}

.box {
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    width: 18vmin;
    height: 18vmin;
    font-size: 8vmin;
    background-color: #fff;
}

.box:active {
    background-color: crimson;
}

.col {
    background: linear-gradient(0deg, red, orange);
}

#reset-btn {
    font-size: 2vmin;
    border-radius: 1.2rem;
    border: none;
    padding: 1rem 1.6rem;
    background-color: darkred;
    color: #fff;
    cursor: pointer;
}

#reset-btn:active {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 1.2rem rgb(255, 255, 255, );
}